<template>
    <v-container>
        <v-layout text-center wrap>
            <v-flex xs12>
                <div class="limitsvg">
                    <svg class="svgdisplay" :width="width" :height="height"></svg>
                </div>
                <div id="tooltips"></div>
                <h2>Statistics</h2>
                <v-simple-table dense>
                    <template v-slot:default>
                    <thead>
                        <tr>
                        <th class="text-left">Statistic</th>
                        <th class="text-left">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in stats" :key="item.name">
                        <td class="text-left">{{ item.name }}</td>
                        <td class="text-left">{{ item.value }}</td>
                        </tr>
                    </tbody>
                    </template>
                </v-simple-table>
                <!-- <v-btn @click="scrollLeftSol">left</v-btn>
                <v-btn @click="scrollRightSol">right</v-btn> -->
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import * as d3 from 'd3'
export default {
    name: 'Main',
    data: () => ({
        makespan: 0,
        tct: 0,
        span_min: 1e9,  // infty
        span_max: 0,
        span_avg: 0,
        span_dev: 0,
    }),
    props: ['solution', 'instance'],
    methods: {
        /** removes all elements from the svg display */
        clearsvg: function() {
            let svg = this.svg
            // remove all elts from svg
            while (svg.firstChild) {
                svg.removeChild(svg.firstChild)
            }
            // remove all tooltips
            let tooltips = document.querySelector("#tooltips")
            while (tooltips.firstChild) {
                tooltips.removeChild(tooltips.firstChild)
            }
        },
        /** updates the svg display  */
        displaySolution: function() {
            this.clearsvg()
            // var infoDiv = d3.select("#tooltips").append("div")
            //     .attr("class", "tooltip")
            //     .style("opacity", 0);
            // only display if both solution and instance exist
            if ( this.instanceNotExists || this.solutionNotExists ) return;
            // initialize data-structures
            let sol = this.solution;
            let n = this.instance.n;
            let m = this.instance.m;
            let p = this.instance.p;
            let front = []
            let starting = []
            for (let i = 0 ; i < m ; i++) {
                front.push(0)
                starting.push([])
                for(let j = 0 ; j < n ; j++) {
                    starting[i].push(0)
                }
            }
            // add first job
            front[0] = p[0][sol[0]]
            starting[0][0] = 0;
            for (let i = 1 ; i < m ; i++) {
                starting[i][0] = front[i-1];
                front[i] = front[i-1]+p[i][sol[0]];
            }
            // add other jobs
            for ( let j = 1 ; j < n ; j++ ) {
                starting[0][j] = front[0];
                front[0] += p[0][sol[j]];
                for ( let i = 1 ; i < m ; i++ ) {
                    starting[i][j] = Math.max(front[i-1], front[i]);
                    front[i] = starting[i][j]+p[i][sol[j]];
                }
            }
            let makespan = starting[m-1][n-1]+p[m-1][sol[n-1]];
            this.makespan = makespan
            let tct = 0;
            for ( let j = 0 ; j < n ; j++ ) {
                tct += starting[m-1][j]+p[m-1][sol[j]];
            }
            this.tct = tct
            let x_step = this.width / makespan;
            let y_step = Math.min(50, this.height/m);
            // compute job spans
            let span_min = 1e9; //infty
            let span_max = 0;
            let span_avg = 0;
            for ( let j = 0 ; j < n ; j++ ) {
                let current_span = starting[m-1][j]+p[m-1][sol[j]] - starting[0][j];
                span_min = Math.min(span_min, current_span)
                span_max = Math.max(span_max, current_span)
                span_avg += current_span
            }
            span_avg /= n;
            this.span_min = span_min;
            this.span_max = span_max;
            this.span_avg = span_avg;
            // compute std_dev span
            let span_dev = 0;
            for ( let j = 0 ; j < n ; j++ ) {
                let current_span = starting[m-1][j]+p[m-1][sol[j]] - starting[0][j];
                span_dev += Math.pow(current_span-span_avg, 2)
            }
            this.span_dev = Math.sqrt(span_dev/n);
            // let color_cycle = ["#7AA9BF"]
            // let color_cycle = ["#7AA9BF", "#7ABFA9", "#A97ABF", "#BFA97A", "#BF7AA9"]
            let color_cycle = [
                "#ffd700",
                "#ffb14e",
                "#fa8775",
                "#ea5f94",
                "#cd34b5",
                "#9d02d7",
                "#0000ff",
                "#ff0000",
                "#00ff00",
                "#d700ff",
                "#b14eff",
                "#8775fa",
                "#555555",
                "#a55555",
                "#55a555",
                "#5555a5",
                "#a5a555",
                "#a555a5",
                "#55a5a5"
            ]
            // draw border
            this.svgd3.append("rect")
                .attr("x", () => { return 0 })
                .attr("y", () => { return 0 })
                .attr("width", () => { return makespan * x_step })
                .attr("height", () => { return m*y_step })
                .attr("stroke-width", 1)
                .attr("stroke", "#555")
                .attr("fill", "#FFF")
            // draw tasks
            for ( let i = 0 ; i < m ; i++ ) {
                for ( let j = 0 ; j < n ; j++ ) {
                    this.svgd3.append("rect")
                        .attr("x", () => { return starting[i][j] * x_step })
                        .attr("y", () => { return i * y_step })
                        .attr("width", () => { return p[i][sol[j]] * x_step })
                        .attr("height", () => { return y_step })
                        .attr("stroke-width", (n<=400) ? 1.0 : 0.1)
                        .attr("stroke", "#555")
                        .attr("fill", () => {return color_cycle[j%color_cycle.length]})
                }
            }
            // 
            // console.log(infoDiv)
            // // add items
            // let offsetX = 0
            // let offsetplate = {}
            // for ( let i = 0 ; i < this.nbplates ; i++ ) {
            //     offsetplate[i] = offsetX
            //     let currentitems = this.solution.lines.filter( e => e[csvindex.cut] !== 0 && e[csvindex.plateid] === i )
            //     for ( let e of currentitems ) {
            //         if ( e[csvindex.type] >= 0 ) {  // items
            //             // draw rect
            //             this.svgd3.append("rect")
            //                 .attr("x", () => { return (offsetX+e[csvindex.x])*this.scale })
            //                 .attr("y", () => { return this.height-(e[csvindex.y]+e[csvindex.h])*this.scale })
            //                 .attr("width", () => { return e[csvindex.w]*this.scale })
            //                 .attr("height", () => { return e[csvindex.h]*this.scale })
            //                 .attr("stroke-width", this.nbcurrentitems < this.nbitemlimit ? 1 : 0.5)
            //                 .attr("stroke", "#555")
            //                 .attr("fill", "#7AA9BF")
            //                 .on('mouseover', function() {
            //                     // highlight the item
            //                     d3.select(this)
            //                         .transition()
            //                         .duration(100)
            //                         .attr("fill", "#AAD9EF")
            //                     // show infotip
            //                     infoDiv.html(`ID: ${e[csvindex.type]}<br/>
            //                     Pos: ${e[csvindex.x]} x ${e[csvindex.y]}<br/>
            //                     Dim: ${e[csvindex.w]} x ${e[csvindex.h]}
            //                     `)
            //                     infoDiv
            //                         .style("left", (d3.event.pageX + 15) + "px")
            //                         .style("top", (d3.event.pageY - 28) + "px");
            //                     infoDiv.transition()
            //                         .duration(200)
            //                         .style("opacity", .9);
            //                 })
            //                 .on('mousemove', function() {
            //                     infoDiv
            //                         .style("left", (d3.event.pageX + 15) + "px")
            //                         .style("top", (d3.event.pageY - 28) + "px");  
            //                 })
            //                 .on('mouseout', function() {
            //                     d3.select(this)
            //                         .transition()
            //                         .duration(100)
            //                         .attr("fill", "#7AA9BF")
            //                     infoDiv.transition()
            //                         .duration(200)
            //                         .style("opacity", .0);
            //                 })
            //             // draw item id
            //             if ( this.nbitems < this.nbitemlimit ) {
            //                 if ( e[csvindex.w] > 20/this.scale && e[csvindex.h] > 20/this.scale ) {
            //                     this.svgd3.append("text")
            //                         .attr("x", () => { return (offsetX+e[csvindex.x]+e[csvindex.w]/2)*this.scale })
            //                         .attr("y", () => { return this.height-(e[csvindex.y]+e[csvindex.h]/2)*this.scale })
            //                         .text( () => { return e[csvindex.type] })
            //                         .attr("text", "hello")
            //                         .attr("fill", "black")
            //                         .attr('font-family', 'sans-serif')
            //                         .attr('font-size', () => { return '10px' } )
            //                         .style('-moz-user-select', '-moz-none')
            //                         .style('user-select', 'none')
            //                         .style('pointer-events', 'none')
            //                         .attr('alignment-baseline', 'middle')
            //                         .attr('text-anchor', 'middle')
            //                 }
            //             } 
            //         } else if ( e[csvindex.type] === -1 ) {  // waste
            //             this.svgd3.append("rect")
            //                 .attr("x", () => { return (offsetX+e[csvindex.x])*this.scale })
            //                 .attr("y", () => { return this.height-(e[csvindex.y]+e[csvindex.h])*this.scale })
            //                 .attr("width", () => { return e[csvindex.w]*this.scale })
            //                 .attr("height", () => { return e[csvindex.h]*this.scale })
            //                 .attr("stroke-width", 1)
            //                 .attr("stroke", "#555")
            //                 .attr("fill", "lightgray")
            //         } else if ( e[csvindex.type] === -3 ) {  // residual
            //             this.svgd3.append("rect")
            //                 .attr("x", () => { return (offsetX+e[csvindex.x])*this.scale })
            //                 .attr("y", () => { return this.height-(e[csvindex.y]+e[csvindex.h])*this.scale })
            //                 .attr("width", () => { return e[csvindex.w]*this.scale })
            //                 .attr("height", () => { return e[csvindex.h]*this.scale })
            //                 .attr("stroke-width", 1)
            //                 .attr("stroke", "#555")
            //                 .attr("fill", "darkgray")
            //         }
            //     }
            //     offsetX += this.plates[i][csvindex.w] + this.spacePlates/this.scale
            // }

            // // display defects
            // for ( let i = 0 ; i < this.nbplates ; i++ ) {
            //     let ds = this.defectsobj.filter( e => e[defind.plate] === i )
            //     for ( let e of ds ) {
            //         let ew = Math.max(e[defind.w], this.mindef/this.scale)
            //         let eh = Math.max(e[defind.h], this.mindef/this.scale)
            //         this.svgd3.append("rect")
            //             .attr("x", () => { return (offsetplate[i]+e[defind.x])*this.scale })
            //             .attr("y", () => { return this.height-(e[defind.y]+eh)*this.scale })
            //             .attr("width", () => { return ew*this.scale })
            //             .attr("height", () => { return eh*this.scale })
            //             .attr("fill", "red")
            //     }
            // }
        },
    },
    mounted: function() {
        this.displaySolution()
    },
    computed: {
        instanceNotExists: function() { return Object.entries(this.instance).length === 0 && this.instance.constructor === Object },
        solutionNotExists: function() { return Object.entries(this.solution).length === 0 && this.solution.constructor === Object },
        height: function() { return 500 },
        width: function() { return 1700 },
        svg: function() { return document.querySelector('.svgdisplay') },
        svgd3: function() { return d3.select('.svgdisplay') },
        stats: function() {
            let res = []
            if ( !this.instanceNotExists ) {
                res.push({ 'name': 'Nb jobs', 'value': this.instance.n })
                res.push({ 'name': 'Nb machines', 'value': this.instance.m })
            }
            if ( !this.solutionNotExists && !this.instanceNotExists ) {
                res.push({ 'name': 'Makespan', 'value': this.makespan })
                res.push({ 'name': 'Total Completion Time', 'value': this.tct })
                res.push({ 'name': 'Min job span', 'value': this.span_min })
                res.push({ 'name': 'Avg job span', 'value': this.span_avg })
                res.push({ 'name': 'Max job span', 'value': this.span_max })
                res.push({ 'name': 'Standard deviation of job spans', 'value': this.span_dev })
            }
            return res;
        }
    },
    watch: {
        solution: function() {
            this.displaySolution()
        },
        instance: function() {
            this.displaySolution()
        }
    },
};
</script>

<style media="screen">
    div.tooltip {
        position: absolute;
        text-align: center;
        padding: 2px;
        font: 12px sans-serif;
        background: white;
        border: 1px solid "#aaa";
        pointer-events: none;
    }
    
    .limitsvg {
        padding: 20px;
        overflow: scroll;
        border: 1px solid #aaa;
    }
</style>