<template>
    <v-app>
        <v-app-bar
            app
            color="primary"
            dark
        >

        <v-toolbar-title>pfsp-viz</v-toolbar-title>

        <v-spacer></v-spacer>
        
        <v-file-input
            dense
            v-on:change="onInstanceLoad"
            placeholder="Your instance here"
            label="Instance file"
        ></v-file-input>
        <v-file-input
            dense
            v-on:change="onSolutionLoad"
            placeholder="Your solution here"
            label="Solution file"
        ></v-file-input>

        </v-app-bar>

        <v-main>
            <Main v-bind:solution="solution" v-bind:instance="instance" />
        </v-main>
    </v-app>
</template>

<script>
import Main from './components/Main';

export default {
    name: 'App',
    components: {
        Main,
    },
    data: () => ({
        instance: {},
        solution: {}
    }),
    mounted: function() {
        // this.readFromUrl((data) => { this.instance = data }, "i")
        // this.readFromUrl((data) => { this.solution = data }, "s")
    },
    methods: {
        onSolutionLoad(f) {
            this.readText(f, (data) => {this.parseSolution(data)})
        },
        onInstanceLoad(f) {
            this.readText(f, (data) => {this.parseInstance(data)})
        },
        readText(f, callback) {
            let reader = new FileReader()
            reader.readAsText(f)
            reader.onload = function() {
                callback(reader)
            }
        },
        parseInstance(reader) {
            // console.log(reader)
            let lines = reader.result.split("\n")
            let header = lines[0].split(" ")
            let n = parseInt(header[0])
            let m = parseInt(header[1])
            let p = []
            for ( let i = 0 ; i < m ; i++ ) {
                p.push(lines[i+1].split(" ").filter(x => x != "").map(x => parseInt(x)))
            }
            this.instance = {n:n, m:m, p:p}
        },
        parseSolution(reader) {
            let l = reader.result
                .split("\n")[0]
                .split(" ")
                .filter(x => x != "")
                .map(x => parseInt(x))
            this.solution = l
        }
        // readFromUrl(callback, name) {
        //     console.log("readFromUrl:"+name);
        //     // // load url
        //     // let usp = new URLSearchParams(window.location.search.slice(1));
        //     // let self = this
        //     // if (usp.has(name)) {  // if url requested
        //     //     let u = usp.get(name)
        //     //     fetch(u)
        //     //         .then(function(res) { return res.blob() })
        //     //         .then(function(blob) {
        //     //             var reader = new FileReader()
        //     //             reader.onload = function() {
        //     //                 self.readFromReader(reader, callback, sep)
        //     //             }
        //     //             reader.readAsText(blob)
        //     //         })
        //     // }
        // },
        // readFromReader(reader, callback, sep=";") {
        //     let data = {'header': [], 'lines': []}
        //     let lines = reader.result.split("\n")
        //     let header = lines[0]
        //     data.header = header.split(sep)
        //     if ( data.header.length == 1 ) {
        //         data.header = header.split(",")
        //         sep = ","
        //     }
        //     for ( let i in lines ) {
        //         if ( i > 0 && lines[i].split(sep).length === data.header.length  ) {
        //             data.lines.push( lines[i].split(sep).map( e => parseInt(e) ) )
        //         }
        //     }
        //     callback(data)
        // },
        // readCSV(f, callback, sep=";") {
        //     let reader = new FileReader()
        //     let self = this
        //     reader.readAsText(f)
        //     reader.onload = function() {
        //         self.readFromReader(reader, callback, sep)
        //     }
        // }
    },
};
</script>

<style media="screen">
    .smalltoppadding {
        padding-top: 10px;
    }
</style>
